<ul class="toc-footer">
  <li><a href='https://netzulo.com'>Get help on our official website</a></li>
  <li><a href='https://github.com/netzulo/qalab'>Contribute to the QaLab on GitHub</a></li>
  <li><a href='https://github.com/netzulo/qadoc'>Contribute to the QaDoc on GitHub</a></li>
  <li><a href='https://github.com/netzulo/qacode'>Contribute to the QaCode on GitHub</a></li>
  <li><a href='https://github.com/netzulo/qadmin'>Contribute to the Qadmin on GitHub</a></li>
</ul>
