<ul class="toc-footer">
  <li><a href='https://netzulo.com'>Get help on our official website</a></li>
  <li><a href='https://github.com/netzulo/qalab-core'>Contribute to the Core on GitHub</a></li>
  <li><a href='https://github.com/netzulo/qalab-doc'>Contribute to the Docs on GitHub</a></li>
  <li><a href='https://github.com/netzulo/qalab-doc'>Contribute to the Framework on GitHub</a></li>
</ul>
